body{
    background-color: #262626;
}

.backButton a{
    margin-top: 50px;
    text-decoration: none;
    border-radius: 10px;
    position: absolute;
    background-color: white;
    border: none;
    color: #888;
    padding: 10px 15px;
    border: 2px solid #ccc;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.backgroundImg{
    height: 615px;
    width: 450px;
}

.objectContents{
    position:relative;
    margin-top: -5px;
}

.search{
    margin-top: 2px;
    margin-left: 3px;
    position: absolute;
}

.infoBtn{
    position: absolute;
    margin-top: 50px;
    margin-left: 3px;

}

.mySub{
    background-color: white;
    border: none;
    color: #888;
    padding: 10px 15px;
    border: 2px solid #ccc;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.infoBtn{
    background-color: white;
    border: none;
    color: #888;
    padding: 10px 15px;
    border: 2px solid #ccc;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.infoBtn:hover {
    background-color: #F7F7F7;
}
.mySub:hover{
    background-color: #F7F7F7;
}
.backButton a:hover{
    background-color: #F7F7F7;
}
input.myInp[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../img/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input.myInp[type=text]:focus {
    width: 300px;
}

/* The Overlay (background) */
.overlay {
   /* Height & width depends on how you want to reveal the overlay (see JS below) */
   height: 100%;
   width: 0;
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   background-color: rgb(0,0,0); /* Black fallback color */
   background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
   overflow-x: hidden; /* Disable horizontal scroll */
   transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
   position: absolute;
   top: 25%; /* 25% from the top */
   width: 100%; /* 100% width */
   text-align: center; /* Centered text/links */
   margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
   color: white;
   font-size: 18px;
}

/* The navigation links inside the overlay */
.overlay a {
    position: absolute;
   padding: 8px;
   text-decoration: none;
   font-size: 36px;
   color: #818181;
   display: block; /* Display block instead of inline */
   transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
   color: #f1f1f1;
   position: absolute;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    
   position: absolute;
   top: 20px;
   right: 45px;
   font-size: 60px;
}
.formObjectSearch{
    color:white;
}

.buildingImage{
    height: 615px;
    width: 450px;
    margin-left: 0px;
    margin-top: 0px;
}

.infoTab{
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    color: black;
    width: 150px;
    height: 200px;
    margin-top: 410px;
    margin-left: 3px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
   .overlay a {font-size: 20px}
   .overlay .closebtn {
       font-size: 40px;
       top: 15px;
       right: 35px;
   }
}

@media only screen and (max-width: 500px) {
    input.myInp[type=text]:focus {
        width: 230px;
    }

    .backgroundImg{
        width:350px;
        height: 545px;
    }

    .buildingImage{
        width:350px;
        height: 545px;
    }

    .infoTab{
        width: 120px;
        height: 220px;
        margin-top: 315px;
        margin-left: 3px;
        font-size: 13.8px;
    }
}
